/* You can add global styles to this file, and also import other style files */
.dark-mode .mat-mdc-select-trigger {
  color: #ffffff !important;
}

.dark-mode .mat-mdc-select-value-text * {
  color: #ffffff !important;
}

.dark-mode .mat-icon {
  color: #ffffff !important;
}